// bower:scss
// endbower

.node {
	fill: #bbbbbb;
	stroke: #999999;
}

.connector {
	fill: rgba(0, 0, 0, 0);
	stroke: #000000;
	
}
.connector.type-a {
	stroke: #FF0000;
}
.connector.type-b {
	stroke: #FFFF00;
}
.connector.type-c {
	stroke: #00FF00;
}
.connector.type-d {
	stroke: #0000FF;
}

.marker-arrow {
	fill: #0000;
}
.marker-arrow.type-a {
	fill: #FF0000;
}
.marker-arrow.type-b {
	fill: #FFFF00;
}
.marker-arrow.type-c {
	fill: #00FF00;
}
.marker-arrow.type-d {
	fill: #0000FF;
}