<div class="jumbotron">
	<panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel"
		style="width:100%; height: 400px">
		<svg
		xmlns="http://www.w3.org/2000/svg" width="500" height="400" viewBox="0 0 500 400"
		preserveAspectRatio="xMidYMid meet">

			<defs>
			    <marker id="marker-arrow-a" markerWidth="13" markerHeight="9" refx="9" refy="5"
			           orient="auto" markerUnits="strokeWidth">
			        <path d="M2,2 L2,8 L10,5 L2,2" class="marker-arrow type-a" />
			    </marker>
			    <marker id="marker-arrow-b" markerWidth="13" markerHeight="9" refx="9" refy="5"
			           orient="auto" markerUnits="strokeWidth">
			        <path d="M2,2 L2,8 L10,5 L2,2" class="marker-arrow type-b" />
			    </marker>
			    <marker id="marker-arrow-c" markerWidth="13" markerHeight="9" refx="9" refy="5"
			           orient="auto" markerUnits="strokeWidth">
			        <path d="M2,2 L2,8 L10,5 L2,2" class="marker-arrow type-c" />
			    </marker>
			    <marker id="marker-arrow-d" markerWidth="13" markerHeight="9" refx="9" refy="5"
			           orient="auto" markerUnits="strokeWidth">
			        <path d="M2,2 L2,8 L10,5 L2,2" class="marker-arrow type-d" />
			    </marker>
			</defs>

			<svg-connector-directive data-ng-repeat="edge in edges.all()"
			data-edge="edge"></svg-connector-directive>
			<svg-circle-directive data-ng-repeat="node in nodes.all()" data-node="node"></svg-circle-directive>
			
		</svg>
	</panzoom>
</div>

<div class="row marketing">
	<h4>Example nodes and edges in SVG with AngularJS</h4>
	<p>This is one of my experiments with AngularJS creating and manipulating SVG DOM.</p>
	<p>Got some stuff from</p>
	<ul>
		<li>Some ideas from <a href="http://alexandros.resin.io/angular-d3-svg/">Replacing (most of) d3.js with pure SVG + AngularJS</a></li>
		<li>Project scaffold from <a href="http://yeoman.io/">Yeoman</a></li>
		<li>Using and still learning <a href="https://angularjs.org/">AngularJS</a></li>
		<li>Collection support from <a href="https://github.com/tomkuk/angular-collection">angular-collection</a></li>
		<li>Applying pan &amp; zoom on any DOM element with <a href="https://github.com/mvindahl/angular-pan-zoom">angular-pan-zoom</a> </li>
		<li>Flat layout for <a href="http://getbootstrap.com/">Bootstrap</a> from <a href="http://bootflat.github.io/">Bootflat</a></li>
	</ul>
</div>
