<g>
	<path 
		ng-if="edge.fromNode.y > edge.toNode.y && edge.fromNode.x < edge.toNode.x" 
		d="M {{edge.fromNode.x}} {{edge.fromNode.y}} 
			L {{edge.toNode.x-20}} {{edge.fromNode.y}} 
			Q {{edge.toNode.x}} {{edge.fromNode.y}} {{edge.toNode.x}} {{edge.fromNode.y-20}} 
			L {{edge.toNode.x}} {{edge.toNode.y + edge.toNode.weight}}" 
		class="connector type-{{edge.type}} type-a"
		marker-end="url(#marker-arrow-a)" />
		
	<path 
		ng-if="edge.fromNode.y < edge.toNode.y && edge.fromNode.x < edge.toNode.x" 
		d="M {{edge.fromNode.x}} {{edge.fromNode.y}} 
			L {{edge.toNode.x-20}} {{edge.fromNode.y}} 
			Q {{edge.toNode.x}} {{edge.fromNode.y}} {{edge.toNode.x}} {{edge.fromNode.y+20}} 
			L {{edge.toNode.x}} {{edge.toNode.y - edge.toNode.weight}}"
		class="connector type-{{edge.type}} type-b"
		marker-end="url(#marker-arrow-b)" />
		
	<path 
		ng-if="edge.fromNode.y > edge.toNode.y && edge.fromNode.x > edge.toNode.x" 
		d="M {{edge.fromNode.x}} {{edge.fromNode.y + edge.fromNode.outgoingIndexOf(edge)}} 
			L {{edge.toNode.x+20}} {{edge.fromNode.y + edge.fromNode.outgoingIndexOf(edge)}} 
			Q {{edge.toNode.x}} {{edge.fromNode.y + edge.fromNode.outgoingIndexOf(edge)}} {{edge.toNode.x}} {{edge.fromNode.y-20}} 
			L {{edge.toNode.x}} {{edge.toNode.y + edge.toNode.weight}}"
		class="connector type-{{edge.type}} type-c"
		marker-end="url(#marker-arrow-c)" />
		
	<path 
		ng-if="edge.fromNode.y < edge.toNode.y && edge.fromNode.x > edge.toNode.x" 
		d="M {{edge.fromNode.x}} {{edge.fromNode.y}} 
			L {{edge.toNode.x+20}} {{edge.fromNode.y}} 
			Q {{edge.toNode.x}} {{edge.fromNode.y}} {{edge.toNode.x}} {{edge.fromNode.y+20}} 
			L {{edge.toNode.x}} {{edge.toNode.y - edge.toNode.weight}}"
		class="connector type-{{edge.type}} type-d"
		marker-end="url(#marker-arrow-d)" />
</g>